.suap{ /*logo do suap*/
width: 90px;
height: 40px;
overflow: clip;
position: relative;
}

.if{ /*texto*/
color: white;
font-family: Arial, sans-serif;
font-weight: 100;
font-size: 20px;
margin-top: 16px;
width: 450px; ;
height: 80px;
position: relative;
}

.img{ /*imagem*/
width: 386px;
height: 248px;
margin-top: 100px;
flex-basis: 285px;
padding-right: 100px;
}
    
input{
font-size: 25px;
border: 1px solid #aaa;
background-color: white;
border-radius: 5px;
display: flex; 
margin-bottom: 15px;
flex-direction: column;
}

input:focus{
border-color: #00FD94;
outline: none;   
}
.container{ /*tudo (forms)*/
display: grid;
place-items: center ;
font-size: 10px;
}

body{
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #2d6159;
color: white;
}

.acessar{ /*botão de acesso ao suap*/
width: 100%;
padding: 12px;
border-radius: 25px;
border: none;
background-color: #00ff88;
font-size: 16px;
cursor: pointer;
}

.container-box{ /*"caixa" do forms*/
background-color: #004d40;
padding: 30px;
border-radius: 8px;
width: 300px;
height: 400px;
margin-bottom: 15px;
display: grid;
place-items: center ;
}

.titulo{ /*titulo do forms*/
display: flex;
justify-content: center;
color: #ffffff;
font-size: 22px;
font-weight: bold;
margin-bottom: 10px;
}

.trocar-senha{ /*link de trocar a senha*/
color: white;
display: inline-block;
padding-top: 10px;
text-align: right;
text-decoration: none;
}

.gov{ /*botão do gov*/
text-align: center;
font-size: 16.8px;
font-weight: 600;
background-color: white;
color: #1351b4;
height: 40px;
margin-top: 20px; 
border-radius: 20px; 
cursor: pointer;
}

body.gov span { /*imagem do gov (em andamento)*/
background-image: url(Gov.br_logo.png);
background-position: center;
background-repeat: no-repeat;
display: inline-block;
height: 20px;
width: 55px;
}
.footer{ /*rodapé*/

}

.botao{ /*serviços essenciais*/

}